.git/**
.github/**
.vscode/**
.pytest_cache/**
**/__pycache__/**
**/*.pyc
blark.egg-info/**
blark/tests/**
build/**
docs/**
docs/build/**
node_modules/**
src/**
tsconfig.json
requirements-dev.txt
requirements-doc.txt
*.spec
*.pyc
